@import "src/styles";

.suites {
  &__wrap {
    width: 100%;
    height: 1080px;
    background:$secondary-light;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 23%;
      left: 13%;
      right: 13%;
      height: 68%;
      box-sizing: border-box;
    }
  
    &::before {
      border-top: 1px solid $secondary;
      border-bottom: 1px solid $secondary;
    }
  
    &::after {
      border-left: 1px solid $secondary;
      border-right: 1px solid $secondary;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 4.5%;
  }

  &__nav {
    display: flex;
    margin-top: 38px;
    &-link {
      text-transform: uppercase;
      margin: 0 11px;
      font-size: $base-font-size;
    }
  }

  &__info-wrap {
    width: 85%;
    height: 50%;
    margin: 0 auto;
    background-color: $base-light;
    display: flex;
    position: relative;
    z-index: 10;
  }
}

.info {
  &__img-block {
    width: 53%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__about {
    width: 47%;
    height: 100%;
    padding-left: 6%;

  }

  &__title {
    font-weight: 400;
  }

  &__text { 
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 80%;
  }
}

.app-button {
  height: 70px;
  width: 180px;

  &--secondary{
    width: 187px;
    margin-right: 14px;
  }
}

@media (max-width: 1680px) {
  .suites {
    &__info-wrap {
      width: 92%;
    }
  }

  .info {
    &__about {
      // padding-bottom: 135px;
    }
  }
}

@media (max-width: 1440px) {
  .suites {
    &__wrap {
      height: 850px;
    }

    &__header {
      padding-top: 19px;
    }

    &__nav {
      margin-top: 28px;
      &-link {
        margin: 0 24px;
        font-size: 14px;
        text-align: center;

      }
    }
  }

  .info {
    &__about {
      // padding-bottom: 74px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .app-button {
    height: 50px;
    width: 128px;
  
    &--secondary{
      width: 134px;
      margin-right: 24px;
    }
  }
}

@media (max-width: 1024px) {
  .suites {
    &__wrap {
      height: 1024px;
    }

    &__header {
      padding-bottom: 14%;
    }

    &__info-wrap {
      height: 48%;
    }
  }

  .info {
    &__about {
      // padding-bottom: 65px;
    }

    &__text {
      line-height: 15px;
    }
  }
}

@media (max-width: 550px) {
  .suites {
    &__wrap {
      height: 715px;

      &::before,
      &::after {
        // top: 19%;
      }
    }

    &__header {
      padding-top: 23px;
    }

    &__nav {
      margin-top: 16px;
      &-link {
        margin: 0 5px;
        font-size: 9px;
        line-height: 16px;
      }
    }

    &__info-wrap {
      flex-direction: column;
      height: 57%;
    }
  }

  .info {
    &__img-block {
      width: 100%;
      height: 45%;
    }
  
    &__about {
      width: 100%;
      height: 55%;
      padding: 0 7%;
    }

    &__title {
      font-size: 14px;
    }
  
    &__text {
      font-size: 9px;
      line-height: 10px;
      width: 87%;
    }

    &__btn-block {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .app-button {
    height: 33px;
    width: 97px;
  
    &--secondary{
      width: 89px;
      margin-right: 19px;
    }
  }
}