.info {
  width: 100%;
  height: 750px;

  &__wrap {
    display: flex;
    height: 100%;
  }
  &__block {
    width: 34%;
  }

  &__img-block {
    width: 66%;
  }
  &__details--hidden {
    display: none;
  }
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}
