<footer class="footer">
  <div class="footer__top">
    <div class="footer__column">
      <h4 class="footer__title" routerLink="/home/contact">Contact</h4>
      <div class="footer__navigation">
        <div class="footer__contact contact">
          <span class="contact__title">Address:</span>
          <span class="contact__text">Lviv, vul.Staroznesenska, 70</span>
        </div>
        <div class="footer__contact contact">
          <span class="contact__title">Phone:</span>
          <div class="contact__block">
            <span class="contact__text">+38 (032) 242-3999</span>
            <br>
            <span class="contact__text">+38 (093) 170-4545</span>
          </div>
        </div>
        <div class="footer__contact contact">
          <span class="contact__title">Social:</span>
          <app-social-networks></app-social-networks>
        </div>
        <div class="footer__contact contact">
          <span class="contact__title">Email:</span>
          <span class="app-a" (click)="mailMe()">{{ email }}</span>
        </div>
      </div>
    </div>

    <div class="footer__column">
      <h4 class="footer__title">Main Menu</h4>
      <div class="footer__navigation">
        <a class="footer__link app-a" href="#">About</a>
        <a class="footer__link app-a" href="#">Special Offers</a>
        <a class="footer__link app-a" href="#">News</a>
        <a class="footer__link app-a" href="#">Contact Us</a>
      </div>
    </div>

    <div class="footer__column footer__hidden">
      <h4 class="footer__title">Things to do</h4>
      <div class="footer__navigation">
        <a class="footer__link app-a" routerLink="home/entertainment">Tennis Club</a>
        <a class="footer__link app-a" routerLink="home/beach">Kavalier Beach Club</a>
        <a class="footer__link app-a" routerLink="home/vinarium">Restaurant and Vinarium</a>
        <a class="footer__link app-a" routerLink="home/entertainment">Excursions</a>
        <a class="footer__link app-a" routerLink="home/celebrations">Events</a>
      </div>
    </div>

    <div class="footer__column footer__hidden">
      <h4 class="footer__title">Rooms & Suits</h4>
      <div class="footer__navigation">
        <a class="footer__link app-a"
            *ngFor="let room of rooms"
            routerLink="/room.title">{{room.title}}</a>
        <!-- <a class="footer__link app-a" href="#">Superior</a>
        <a class="footer__link app-a" href="#">Family Superior</a>
        <a class="footer__link app-a" href="#">Semi-Suit</a>
        <a class="footer__link app-a" href="#">Suit</a> -->
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    Copyright © 2020 Kavalier Boutique Hotel. All Rights Reserved.
  </div>
</footer>