<div class="networks">
  <a class="networks__link" [href]="facebookLink">
    <img class="networks__icon" src="/assets/images/icons/Facebook.svg" alt="Facebook">
  </a>
  <a class="networks__link" [href]="twitterLink">
    <img class="networks__icon" src="/assets/images/icons/Twitter.svg" alt="Twitter">
  </a>
  <a class="networks__link" [href]="tripAdvisorLink">
    <img class="networks__icon" src="/assets/images/icons/TripAdvisor.svg" alt="TripAdvisor">
  </a>
  <a class="networks__link" [href]="foursquareLink">
    <img class="networks__icon" src="/assets/images/icons/Foursquare.svg" alt="Foursquare">
  </a>
  <a class="networks__link" [href]="instagramLink">
    <img class="networks__icon" src="/assets/images/icons/Instagram.svg" alt="Instagram">
  </a>
</div>