@import "reset";

@import "colors";

@import "fonts";

@import "base";

html,
body {
  height: 100%;
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weigth;
  line-height: $base-line-height;
  background: $base-light;
  color: $base-dark;
}