@import "src/styles";

.advantages {
  &__wrap {
    width: 100%;
    height: 800px;
    background-image: url('/assets/images/background/background-advantages.jpeg');
    background-color: rgba($base-dark, .7);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__header {
    @include centerColumnVertical;
    padding: 70px 0 100px;
  }

  &__title {
    color: $base-light;
  }

  &__bottom {
    height: calc(100% - 112px - 170px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__item {
    width: 28%;
    height: 50%;
    display: flex;
    flex-direction: row;
  }
}

.item {
  &__icon {
    width: 50px;
    height: 40px;
  }

  &__info {
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
}

.info {
  &__title {
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: $secondary;
  }
}

@media (max-width: 1440px) {
  .advantages {
    &__wrap {
      height: 720px;
    }

    &__header {
      padding-bottom: 45px;
    }

    &__item {
      width: 31%;
    }
  }

  .info {
    &__title,
    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .advantages{
    &__wrap {
      height: 1024px;
    }

    &__item {
      width: 37%;
      height: 30%;
    }
  }
}

@media (max-width: 655px) {
  .advantages{
    &__wrap {
      height: 705px;
    }

    &__header {
      padding: 15px 0 25px;
    }

    &__bottom {
      height: calc(100% - 152px);
    }

    &__item {
      width: 85%;
      height: 16%;
    }
  }

  .item {
    &__icon {
      width: 33px;
      height: 26px;
    }

    &__info {
      margin: 10px;
    }
  }

  .info {
    &__title,
    &__text {
      font-size: 9px;
      line-height: 13px;
    }

    &__text {
      margin-top: 12px;
    }
  }
}

@media (max-width: 425px) {
 .advantages {
  &__bottom {
    height: calc(100% - 90px);
  }
 }
}