@import "../../../styles";

.gallery-btn {
  width: 50px;
  height: 50px;
  margin: 0 .5px;
  background-color: rgba($primary, .7);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $primary;
  }

  .previous {
    transform: rotate(90deg);
  }

  .next {
    transform: rotate(-90deg);
  }
}

.gallery-btn--secondary {
  background-color: rgba($secondary-btn, .7);

  &:hover {
    background-color: $secondary-btn;
  }
}