@import "src/styles";

.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__wrap {
    width: 24%;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 5%;
      left: -8%;
      right: 8%;
      height: 100%;
      box-sizing: border-box;
    }

    &::before {
      border-top: 1px solid $secondary;
      border-bottom: 1px solid $secondary;
    }

    &::after {
      border-left: 1px solid $secondary;
      border-right: 1px solid $secondary;
    }
  }

  &__img-block {
    width: 100%;
    height: 395px;
  }

  &__info-block {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 247px;
    background: $secondary-light;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10%;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
  }
}

@media (max-width: 1440px) {
  .card {
    &__img-block {
      height: 310px;
    }

    &__info-block {
      height: 195px;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    &__wrap {
      width: 27%;
    }

    &__img-block {
      height: 265px;
    }

    &__info-block {
      height: 167px;
      padding: 0 8%;
    }
  }
}

@media (max-width: 550px) {
  .card {
    flex-direction: column;

    &__wrap {
      width: 73%;
      height: 434px;
      margin-bottom: 39px;
    }

    &__img-block {
      height: 266px;
    }

    &__info-block {
      height: 167px;
    }
  }
}