<div class="welcome__wrap" id="welcome">
  <div class="welcome__info">
    <div class="welcome__header">
      <h4 class="section__subtitle">WELCOME TO Kavalier Boutique Hotel</h4>
      <h1 class="section__title">A New Vision of Luxury</h1>
    </div>
    <div class="welcome__text-block">
      <span class="welcome__text welcome__text--strong">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros.</span>
      <span class="welcome__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferme ntum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</span>
    </div>
    <div class="welcome__signature-block">
      <img class="welcome__signature" src="/assets/images/signature.png" alt="Kavalier">
      <span class="welcome__text welcome__text--smaller">Managing Director</span>
    </div>
  </div>
  <div class="welcome__img-block">
    <app-gallery-button></app-gallery-button>
    <img class="welcome__img" src="/assets/images/welcome-img.jpeg" alt="terrase">
  </div>
</div>