@import "../../../styles";

.blog {
  &__wrap {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $secondary-light;
    padding: 34px 0 75px;
  }

  &__header {
    @include centerColumnVertical;
  }

  &__open-news-btn {
    width: 220px;
    height: 52px;
  }
}

app-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 1440px) {
  .blog {
    &__wrap {
      height: 850px;
    }
  }
}

@media (max-width: 1280px) {
  .blog {
    &__wrap {
      padding-bottom: 85px;
    }

    &__open-news-btn {
      width: 175px;
      height: 42px;
    }
  }
}

@media (max-width: 1024px) {
  .blog {
    &__wrap {
      height: 815px;
      padding-top: 14px;
    }
  }
}

@media (max-width: 550px) {
  .blog {
    &__wrap {
      height: unset;
      padding: 30px 0;
    }
  }
  
  app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}