.card__title {
  font-size: 36px;
  font-weight: 400;
  color: $base-dark;
}

@media (max-width: 1645px) {
  .card__title{
    font-size: 24px;
  }
}

// @media (max-width: 1440px) {
//   .card__title{
//     font-size: 24px;
//   }
// }

@media (max-width: 1098px) {
  .card__title{
    font-size: $base-font-size;
  }
}