.card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: $secondary;
}

@media (max-width: 1440px) {
  .card__text{
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .card__text{
    font-size: 10px;
    line-height: 15px;
  }
}