@import "src/styles";

.bg {
  &-first {
    background: url('/assets/images/background/background-1.jpeg');
    background-color: rgba($base-dark, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
  }

  &-second {
    background: url('/assets/images/background/background-2.jpeg');
    background-color: rgba($base-dark, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
  }

  &-third {
    background: url('/assets/images/background/background-3.jpeg'); 
    background-color: rgba($base-dark, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
  }
}

.section {
  &__subtitle {
    color: $base-light;
  }

  &__title {
    color: $base-light;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
}

.about {
  &__wrap {
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__text-block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
  }

  &__change-bg {
    position: absolute;
    top: 28%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 114px;
  }

  &__change-btn {
    background: $base-light;
    margin: 4px 0;
    transition: ease-in-out 1s;
  }

  &--thin {
    width: 24px;
    height: 3.33px;
  }
  
  &--fat {
    width: 24px;
    height: 6.67px;
  }
  
  &--active {
    width: 96px;
    height: 3.33px;
  }

  &__btn {
    width: 25px;
    height: 19px;
    margin-bottom: 170px;
  }

  &__move-down {
    width: 100%;
    height: 100%;
  }
}

.app-button {
  width: 220px;
  height: 50px;
  transition: linear .5s;
}

.title {
  display: flex;
  position: relative;
}

@media (max-width: 1680px) {
  .about {
    &__change-bg {
      margin-right: 70px;
    }

    &--thin {
      width: 21px;
    }
    
    &--fat {
      width: 21px;
    }
    
    &--active {
      width: 84px;
    }
  }
}

@media (max-width: 1440px) {
  .about {
    &__wrap {
      height: 720px;
    }

    &__change-bg {
      margin-right: 50px;
    }
  
    &__change-btn {
      background: $base-light;
      margin: 2.5px 0;
      transition: ease-in-out 1s;
    }
  
    &--thin {
      width: 16px;
      height: 2.22px;
    }
    
    &--fat {
      width: 16px;
      height: 4.44px;
    }
    
    &--active {
      width: 64px;
      height: 2.22px;
    }
  }
}

@media (max-width: 1024px) {
  .about {
    &__wrap {
      height: 1024px;
    }

    &__text-block {
      margin-bottom: 60px;
    }

    &__change-bg {
      margin-right: 30px;
    }

    &__btn {
      margin-bottom: 232px;
    }
    
    &--thin {
      width: 9.6px;
      height: 3px;
    }
    
    &--fat {
      width: 9.6px;
      height: 6px;
    }
    
    &--active {
      width: 38px;
      height: 3px;
    }
  }
}

@media (max-width: 425px) {
  .about {
    &__wrap {
      height: 568px;
    }

    &__text-block {
      margin-bottom: 75px;
    }

    &__change-bg {
      display: none;
    }

    &__btn {
      width: 17px;
      height: 13px;
      margin-bottom: 84px;
    }
  }

  .section {
    &__title { 
      margin-bottom: 47px;
    }
  }
}