.bg {
  width: 100%;
  height: 1080px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(180deg, rgba(2, 2, 2, 0.3) 0%, rgba(255, 255, 255, 0) 100%), url('/assets/images/background/background-1.jpeg'), #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg02 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(180deg, rgba(2, 2, 2, 0.3) 0%, rgba(255, 255, 255, 0) 100%), url('/assets/images/background/background-2.jpeg'), #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg02 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(180deg, rgba(2, 2, 2, 0.3) 0%, rgba(255, 255, 255, 0) 100%), url('/assets/images/background/background-3.jpeg'), #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-01 {
  width: 36px;
  background: #000;
  height: 9px;
}